<div *ngIf='transactionStatement$ | async as result'>
    <div>
        <table title="Duplicate transactions" class="table">
                <thead>
                    <tr>
                        <th>Reference</th>
                        <th>Iban</th>
                        <th>Description</th>
                        <th>Start balance</th>
                        <th>Mutation</th>
                        <th>End balance</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let transaction of result.duplicates">
                    <td>{{transaction.id}}</td>
                    <td>{{transaction.iban}}</td>
                    <td>{{transaction.description}}</td>
                    <td>{{transaction.startBalance}}</td>
                    <td>{{transaction.mutation}}</td>
                    <td>{{transaction.endBalance}}</td>
                </tr>
        
                <tr *ngIf="result.duplicates.length === 0">
                    <td colspan="6" class="text-center text-primary">No duplicates</td>
                </tr>
            </tbody>
        </table>
    </div>

    <table title="Incorrect transactions" class="table">

        <thead>
            <tr>
                <th>Reference</th>
                <th>Iban</th>
                <th>Description</th>
                <th>Start balance</th>
                <th>Mutation</th>
                <th>End balance</th>
            </tr>
        </thead>
        <tbody>

        <tr *ngFor="let transaction of result.incorrectBalance">
            <td>{{transaction.id}}</td>
            <td>{{transaction.iban}}</td>
            <td>{{transaction.description}}</td>
            <td>{{transaction.startBalance}}</td>
            <td>{{transaction.mutation}}</td>
            <td>{{transaction.endBalance}}</td>
        </tr>

        <tr *ngIf="result.incorrectBalance.length === 0">
            <td colspan="6" class="text-center text-primary">No incorrect transactions</td>
        </tr>
        </tbody>
    </table>
</div>